streamlit==1.25.0
folium==0.14.0
streamlit_folium==0.13.0
turfpy
boto3
matplotlib
seaborn
japanize-matplotlib
plotly
streamlit-pandas
streamlit-aggrid
requests
mitosheet
streamlit_pandas_profiling
pandas-profiling
